<style>
  body {margin: 10px;}
  a { text-decoration: none;
    color:black;}
  h1 {
    font - size:50px;
    text-align: center;
    border-bottom: 2px solid gray;
    margin: 0;
    padding: 10px;
  }
  #index ol {
    width:115px;
    margin : 0;
    padding: 10px;
    }
    #index ol li{
      height: 30px;}

  #grid{
    display: grid;
    grid-template-columns: 300px 1fr;}
    
  #grid ol { padding-left: 30px;}
  #index2 {padding-left:10px;}
  #article{
    border-left:2px solid gray;
    margin: 0;
    padding: 15px;
  }
  @media(max-width:750px){

  #grid{
    display: block;}
    #article {border-left: none;}
  }
</style>
